/* start of Landing Page */
.aboutUsLanding {
  position: relative;
  color: #292664;
  width: 100%;
}
.aboutUsLanding img {
  margin-top: 1%;
}
.top-left {
  position: absolute;
  width: 30%;
  top: 90px;
  left: 50px;
  text-align: left;
  padding: 40px;
  margin: auto;
  text-justify: distribute;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  background-color: #ffd87c;
}
.top-left p {
  font-family: "montserrat", sans-serif;
  font-size: large;
}
.b-footer2 {
  background: linear-gradient(to right, #ffbd59, rgba(0, 100, 200, 1), #ffbd59);
  background-size: 100% 2px, 100% 2px;
  background-position: 100% 0, 100% 0;
  background-repeat: no-repeat;
  padding-top: 1%;
  border-radius: 10px;
  margin-top: -0.3%;
}
.about-media-icons {
  font-size: 16px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100%;
  color: #292664;
}
.about-media-icons a {
  color: #292664;
}
.about-media-icons a:hover {
  transform: scale(1.3);
}
@media (max-width: 750px) {
  .top-left {
    position: relative;
    width: 80%;
    margin-bottom: 30%;
    margin-top: -5%;
    margin-right: 30%;
  }
  .aboutUsLanding img {
    display: none;
  }
}
/* end of Landing Page */

/* start of core values */
.corevaluesbanner {
  height: 40vh;
}
.corevaluecontainer {
  margin-top: -10px;
  padding-top: -80px;
}
.corevaluecontainer h1 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  font-weight: 500;
  color: #232350;
  font-family: "open sans", sans-serif;
}
.corevaluecontainer h1::before {
  content: "─";
  margin-right: 0.6em;
  color: #232350;
}
.corevaluecontainer h1::after {
  content: "─";
  margin-left: 0.6em;
  color: #232350;
}
.infographic {
  margin: 20px;
  margin-right: 100px;
  width: 97.8%;
  font-family: "open sans", sans-serif;
  position: relative;
  border-radius: 20px;
  margin-bottom: 100px;
}
.slide-up {
  margin: 0px;
  position: relative;
  overflow: hidden;
  width: calc(25% - 2px);
  height: 213px;
  float: left;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.info-content {
  padding-top: 50px;
  padding-right: 40px;
  padding-left: 30px;
  color: #fff;
  font-weight: 300;
  background-color: #232350;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "montserrat", sans-serif;
}
.stat-header {
  font-size: 16px;
  font-weight: 500;
  color: #232350;
}
.info-cover {
  background-color: #ffd87c;
  width: 100%;
  height: 92%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  transition: all 0.4s ease;
}
.info-cover img {
  width: 50px;
}
.slide-up:hover .info-cover {
  top: -85%;
}
.custom-span {
  width: 100px;
  background: #232350;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
}
@media screen and (max-width: 550px) {
  .infographic {
    width: "97%";
    padding-bottom: 5vw;
  }
  .slide-up {
    margin: 0px;
    height: 15vw;
    position: relative;
    overflow: hidden;
    width: 49.3%;
    height: 240px;
    float: left;
  }
  .info-content {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-top: 5px;
    color: #fff;
    font-weight: 100;
    background-color: #15397f;
    height: 85%;
    width: 90%;
  }
  .info-content a {
    color: #fff;
    font-weight: 600;
  }
  .graphic {
    height: 50px;
  }
  .info-header {
    font-size: 4vw;
    font-weight: 600;
    margin-top: 0.5em;
    color: #ffffff;
  }
  .stat-header {
    font-size: 5vw;
    font-weight: 300;
    margin-top: 0.5em;
    color: #414042;
  }
  .stat-title {
    font-size: 5vw;
    color: #414042;
  }
  .info-cover {
    background-color: #ffd87c;
    width: 90%;
    height: 85%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
  }
  .slide-up:hover .info-cover {
    top: -85%;
  }
  .custom-span {
    width: 100px;
    background: rgba(50, 50, 50, 1);
    height: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
/* end of why core values */

/* start of why choose us */
.whycontainer {
  padding: 5vw;
  background-color: #232350;
  color: #fff;
}
.whycontainer h1 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  font-family: "open sans", serif;
  font-weight: 200;
  color: #ffd87c;
}
.whycontainer h1::before {
  content: "─";
  margin-right: 0.6em;
  color: #ffd87c;
}
.whycontainer h1::after {
  content: "─";
  margin-left: 0.6em;
  color: #ffd87c;
}
.whyboxes {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  height: 40%;
}
.whybox {
  width: 40vw;
  font-size: 1.1em;
  font-weight: 300;
  text-align: right;
  padding: 0 4vw 4vw;
  border-right: 2px;
  border-left: 0;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ffbd59, #38b6ff, #ffbd59) 1 100%;
}
.whybox:last-child {
  border-right: 0;
  text-align: left;
  margin-left: -60px;
}
/* End of why choose us */

/* Start Partnerlogos */
.partnerlogoscontainer {
  margin: auto;
  padding: 50px;
}
.partnerlogoscontainer h1 {
  margin-bottom: 20px;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  font-weight: 500;
  color: #232350;
  font-family: "open sans", sans-serif;
}
.partnerlogoscontainer h1::before {
  content: "─";
  margin-right: 0.6em;
  color: #232350;
}
.partnerlogoscontainer h1::after {
  content: "─";
  margin-left: 0.6em;
  color: #232350;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
