/* =================================================== */
/* =================================================== */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .body {
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
/* transparent to solid nav bar */
header {
  background: none;
  color: #fdfbfb;
  box-shadow: none;
  display: flex;
  justify-content: end;
}
header img {
  display: none;
}
header.sticky {
  display: flex;
  justify-content: space-between;
  background: #fdfbfb;
}
header.sticky img {
  display: block;
}
header.sticky ul li a {
  color: #232350;
}
.sticky #hamburger-icon div {
  background-color: #232350;
}
#hamburger-icon div {
  background-color: #fff;
}
header ul li a {
  color: #fff;
}
nav {
  margin-right: 0;
}
/* header.sticky nav {
  margin-right: -150px;
} */

/* transparent to solid nav bar */
/* =================================================== */
/* =================================================== */
/* start of hero section */

.showcase {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 103vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .overlay {
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.showcase.active {
  right: 300px;
}
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #232350;
  mix-blend-mode: overlay;
  opacity: 50%;
}
.text {
  position: relative;
  justify-content: center;
}
.text h2 {
  font-size: 1.6em;
  letter-spacing: 3px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4em;
  text-transform: uppercase;
  font-family: "montserrat", sans-serif;
}
.text h2 span {
  font-size: 1.2em;
}
.text p {
  font-size: 1.2em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  font-family: "montserrat", sans-serif;
}
.text a {
  display: inline-block;
  font-size: 0.8em;
  color: #fff;
  background: #292664;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  margin-top: 50px;
  transition: 0.2s;
  border-radius: 5px;
}
.text a:hover {
  letter-spacing: 6px;
}
.social {
  position: absolute;
  bottom: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  justify-content: space-around;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.7) translateY(-15px);
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobile */
@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 50px;
  }
  .text {
    margin-left: 20px;
  }
  .text h2 {
    font-size: 2em;
  }
  .text h3 {
    font-size: 1.5em;
  }
  .text a {
    margin-top: 20px;;
  }
  .social {
    margin-left: 20px;
  }
  .course {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .course-preview a {
    display: none;
  }
  .course-preview {
    width: 100px;
  }
}
@media (max-width: 600px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text {
    margin-left: 20px;
  }
  .text h2 {
    font-size: 1.5em;
    margin-top: -200px;
  }
  .text h3 {
    font-size: 1.5em;
  }
  .text a {
    margin-top: 20px;;
  }
  .text p {
    padding-right: 40px;
  }
  .social {
    margin-left: 20px;
  }
  .course {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .course-preview a {
    display: none;
  }
  .course-preview {
    width: 100px;
  }
}
/* mobile */
/* End of hero section */
/* =================================================== */
/* =================================================== */
/* start of what we do */
.courses-container {
  display: flex;
  justify-content: center;
  margin-top: -95px;
  position: relative;
  z-index: 1;
}
.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 80%;
  color: #232350;
  font-weight: 400;
  font-size: large;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .course {
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}
.course-preview {
  background-color: #ffbd59;
  color: #232350;
  padding: 30px;
  width: 25%;
}
.course-preview a {
  color: #232350;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 500;
}
.course-preview a:hover {
  letter-spacing: 2px;
}
.course-info {
  padding: 30px;
  position: relative;
  width: 100%;
}

/* End  of what we do */
/* =================================================== */
/* =================================================== */
/*  Start of Services  */

.servicessection {
  --color: #ffd87c;
  --transition-time: 0.7s;
  margin-bottom: 40px;
  width: 100%;
  color: #ffbd59;
  box-shadow: 3px 3px 3px 3px #ffd87c;
}
.info {
  display: flex;
  justify-content: flex-start;
}
.info h3 {
  color: #292664;
  letter-spacing: 2px;
  font-size: larger;
  font-weight: 500;
  text-transform: capitalize;
  margin: auto;
}
.servicescards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  padding: 3rem;
  margin: -20px auto;
  width: max-content;

}.graphicdots img{
  width:8%;
  position: absolute;
  top: 915px;
  left: 40px;
  z-index: 2;
}
.servicescard {
  font-family: "open sans", sans-serif;
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  height: 12em;
  width: 15em;
  font-size: 1.5em;
  border-radius: 0.2em;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
}
.servicescard:hover {
  transform: rotate(0);
  cursor: context-menu;
}
.servicescard h1 {
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
  font-family: "open sans", sans-serif;
}
.servicescard p {
  font-size: 0.75em;
  font-family: "monts", sans-serif;
  margin-top: 0.5em;
  line-height: 2em;
  color: #fff;
}
.servicescard .cardnumber {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}
.servicescard .cardnumber::before {
  color: #ffbd59;
  display: block;
}
.servicescard:before,
.servicescard:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: linear;
}
.servicescard:before {
  background-color: #232350;
  width: 250%;
  height: 250%;
  color: #ffbd59;
}
.servicescard:after {
  background: #232350;
  width: 200%;
  height: 200%;
  color: #ffd87c;
}
.servicescard:hover {
  color: #ffd87c;
}
.servicescard p::before {
  color: #ffd87c;
}
.servicescard:hover:before,
.card:hover:after {
  transform: scale(1.1);
}
.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}
.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}
.info img {
  height: 3em;
  margin-right: 0.5em;
}
.info h1 {
  font-size: 1em;
  font-weight: normal;
}
.servicescards-wrapper:hover {
  color: #232350;
}

@media screen and (max-width: 1170px) {
  .servicescards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .thethumbnail {
    display: none;
  }
  .course-preview {
    max-width: 100%;
  }
  .faq-body {
    width: 60%;
  }
  .graphicdots img{
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .servicescards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .course-preview {
    max-width: 100%;
  }
  .faq-body {
    width: 60%;
  }
  .graphicdots img{
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .servicescards-wrapper {
    padding: 4rem 2rem;
  }
  .servicescard {
    max-width: calc(100vw - 4rem);
  }
  .thethumbnail {
    display: none;
  }
  .course-preview {
    max-width: 100%;
  }
  .faq-body {
    width: 60%;
  }
  .graphicdots img{
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
  .thethumbnail {
    display: none;
  }
  .faq-body {
    width: 60%;
  }
  .graphicdots img{
    display: none;
  }
}

/*  End of services  */
/* =================================================== */
/* =================================================== */
/* start of FAQ's */
.faqsection {
  background-color: #ffd87c;
  margin-bottom: 10px;
  font-family: "montserrat", sans-serif;
  padding-bottom: 50px;
  padding-top: 20px;
}
.faq-heading {
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  color: #232350;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
}
.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8em;
  font-family: "montserrat", sans-serif;
  font-weight: 100;
}
.hr-line {
  width: 70%;
  margin: auto;
  background-color: #232350;
  border: 1px solid #232350;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  cursor: pointer;
  color: #232350;
  padding: 20px 20px;
  width: 70%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
}
.faq-body {
  margin: auto;
  width: 70%;
  padding: auto;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #232350;
  color: #ffd87c;
}
/*faq-page panel. (hidden by default) */
.faq-body {
  padding: 20px;
  background-color: #fdfbfb;
  display: none;
  overflow: hidden;
  color: #232350;
  font-size: large;
  font-weight: 400;
  width: 70%;
  border-radius: 5px;
  margin-bottom: 20px;
}
.faq-body a {
  list-style:underline;
  color: #232350;
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.faq-body a:hover {
  letter-spacing:3px;
}
.faq-page:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
  background-color: #232350;
  border: 1px solid #232350;
  border-radius: 100%;
  color: #232350;
}
.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
@media only screen and (max-width: 600px) {
  .faq-page{
    width: 80%;
  }
  .faq-page::after {
    margin-left: 25px;
}
}
/* End of faq */
/* =================================================== */
/* =================================================== */
/* start of locations */

.locationsdiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 50px;
}
.leftlocation {
  flex: 50%;
}
.rightlocation {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  flex: 50%;
}
.leftlocation h2 {
  font-weight: 600;
  font-size: 30px;
  color: #232350;
  margin-bottom: 30px;
  margin-top: 30px;
}
.leftlocation h3 {
  font-weight: 500;
  font-size: 20px;
  color: #232350;
  margin-bottom: 10px;
  margin-top: 20px;
}
.leftlocation h3:hover {
  color: #ffbd59;
  cursor: context-menu;
}
.leftlocation p {
  font-weight: 400;
  font-size: 1em;
  color: #232350;
}
@media (max-width: 800px) {
  .leftlocation, .rightlocation {
    flex: 100%;
  }
}
@media only screen and (max-width: 600px) {
.locationsdiv {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}  
iframe {
  width: 100%;
}
.rightlocation {
  margin-top: 20px;
}
.course-preview {
  background: #ffbd59;
  width: 100%;
}
.course-preview a {
  display: none;
}
.servicescards-wrapper {
  margin-top: -50px;
}
}
/*  End of locations  */
/* =================================================== */
/* =================================================== */

