/* transparent to solid nav bar */
header {
  background: none;
  color: #fdfbfb;
  box-shadow: none;
  display: flex;
  justify-content: end;
}
header img {
  display: none;
}
header.sticky {
  display: flex;
  justify-content: space-between;
  background: #fdfbfb;
}
header.sticky img {
  display: block;
}
header.sticky ul li a {
  color: #232350;
}
.sticky #hamburger-icon div {
  background-color: #232350;
}
header ul li a {
  color: #fff;
}
/* transparent to solid nav bar */

/* start of hero section */
.showcase {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
  font-family: "open sans", sans-serif;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .overlay {
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.showcase.active {
  right: 300px;
}
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #232350;
  mix-blend-mode: overlay;
  opacity: 50%;
}
.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 3em;
  font-weight: 500;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'montserrat', sans-serif;
}
.text h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'montserrat', sans-serif;
}
.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  font-family: 'montserrat', sans-serif;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}
.social {
  position: absolute;
  z-index: 10;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.7) translateY(-15px);
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of hero section */


/* mobile */
@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text {
   margin-left: 20px;
  }
  .text h2 {
    font-size: 2em;
  }
  .text h3 {
    font-size: 1.5em;
  }
  #hamburger-icon div{
  background-color: #fdfbfb;
  }
  .social {
    margin-left: 20px;
  }
  /* header img {
    display: block;
    margin-right: 108px;
  } */
  /* header {
    background-color: #fdfbfb;
  } */
}


/* mobile */