/* =================================================== */
/* =================================================== */
html {
  overflow-x: hidden;
}
/* transparent to solid nav bar */
header {
  background: none;
  color: #fdfbfb;
  box-shadow: none;
  display: flex;
  justify-content: end;
}
header img {
  display: none;
}
header.sticky {
  display: flex;
  justify-content: space-between;
  background: #fdfbfb;
}
header.sticky img {
  display: block;
}
header.sticky ul li a {
  color: #232350;
}
.sticky #hamburger-icon div {
  background-color: #232350;
}
header ul li a {
  color: #fff;
}
/* transparent to solid nav bar */

/* =================================================== */
/* =================================================== */

/* start of hero section */
.showcase {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  font-family: "open sans", sans-serif;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .overlay {
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.showcase.active {
  right: 300px;
}
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #232350;
  mix-blend-mode: overlay;
  opacity: 50%;
}
.text {
  position: relative;
}
.text h2 {
  font-size: 3.4em;
  font-weight: 500;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  font-family: "open sans", sans-serif;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.text h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  font-family: "montserrat", sans-serif;
}
.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  font-family: "montserrat", sans-serif;
}
.text a {
  display: inline-block;
  font-size: 1em;
  color: #232350;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 1px;
}
.text a:hover {
  letter-spacing: 6px;
  background-color: #ffd87c;
}
.social {
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.7) translateY(-15px);
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* mobile */
@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text {
    margin-left: 20px;
  }
  .text h2 {
    font-size: 2em;
  }
  .text h3 {
    font-size: 1.5em;
  }
  .social {
    margin-left: 20px;
  }
}
/* mobile */
/* End of hero section */

/* =================================================== */
/* =================================================== */

/* start of Work with us */
.thecard {
  position: relative;
  height: 280px;
  width: 100%;
  margin: auto;
  background: #0f0c29;  
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  box-shadow: 0 0.5px 1px 0.5px rgba(0, 0, 0, 0.2);
  margin-top: -60px;
  margin-bottom: 100px;
}
.thethumbnail {
  float: left;
  position: relative;
  left: 95px;
  top: -30px;
  height: 310px;
  width: 530px;
  overflow: hidden;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.theleft {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.theright {
  margin-left: 670px;
  margin-right: 20px;
}
.theright h1 {
  padding-top: 30px;
  font-size: 1.3rem;
  color: #ffd87c;
}
.theright p {
  text-align: justify;
  font-size: 1rem;
  color: #fff;
  width:90%;
  font-weight: 400;
}
/* End  of Work with us */

/* =================================================== */
/* =================================================== */

/*  Start of Services  */
.servicessection {
  --color: #ffd87c;
  --transition-time: 0.5s;
  margin-bottom: 50px;
  margin-top: -120px;
  width: 100%;
  color: #232350;  
}
.servicessection .info h3 {
  text-align: center;
  color: #232350;
  letter-spacing: 2px;
  margin-left: -50px;
}
.servicessection h3::before {
  content: "─";
  margin-right: 0.6em;
  color: #232350;
}
.servicessection h3::after {
  content: "─";
  margin-left: 0.6em;
  color: #232350;
}
.servicescards-wrapper {
  font-family: 'Open Sans';
  width: 100%;
  
}
.servicescards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  padding: 3rem;
  margin: -20px auto;
  width: max-content;
}
.servicescard {
  font-family: 'open sans', sans-serif;
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 12em;
  width: 15em;
  font-size: 1.5em;
  border-radius: 0.2em;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
}
.servicescard:hover {
  transform: rotate(0);
  cursor: context-menu;
}
.servicescard h1 {
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
  font-family: 'open sans', sans-serif;
}
.servicescard p {
  font-size: 0.75em;
  font-family: 'monts', sans-serif;
  margin-top: 0.5em;
  line-height: 2em;
  color: #fff;
}
.servicescard .cardnumber {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}
.servicescard:before, .servicescard:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
  
}
.servicescard:before {
  background-color: #232350;
  width: 250%;
  height: 250%;
  color: #ffd87c;
}
.servicescard:after {
  background: #232350;
  width: 200%;
  height: 200%;
  color: #ffd87c;
}
.servicescard:hover {
  color: #ffd87c;
}
.servicescard p::before {
  color: #232350;
}
.servicescard:hover:before, .card:hover:after {
  transform: scale(1);
}
.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}
.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}
.info img {
  height: 3em;
  margin-right: 0.5em;
}
.info h1 {
  font-size: 1em;
  font-weight: normal;
}
 .servicescards-wrapper:hover {
   color:#232350
 }

@media screen and (max-width: 1170px) {
  .servicescards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .thethumbnail {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .servicescards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .thethumbnail {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .servicescards-wrapper {
    padding: 4rem 2rem;
  }
  .servicescard {
    max-width: calc(100vw - 4rem);
  }
  .thethumbnail {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
  .thethumbnail {
    display: none;
  }
}
/*  End of services  */

/* =================================================== */
/* =================================================== */

/* start of locations */

.whycontainer {
  padding: 40px;
  color: #232350;
  background-color: #ffd87c;
  margin-bottom: 1px;
}
.whycontainer h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  font-family: "open sans", serif;
  color: #232350;
}
.whyboxes {
  background-color: #ffd87c;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  height: 40%;
}
.whybox {
  width: 40vw;
  font-size: 1.1em;
  font-weight: 300;
  text-align: justify;
  padding: 0 4vw 4vw;
  border-right: 2px;
  border-left: 0;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ffbd59, #38b6ff, #ffbd59) 1 100%;
}
.whybox:last-child {
  border-right: 0;
  text-align: justify;
  margin-left: -40px;
}
/*  End of locations  */

/* =================================================== */
/* =================================================== */

/* start of destinations */