html {
  overflow-x: hidden;
}

/* <!-- start of additional services --> */
.additionalservicestitle {
  text-align: center;
  color: #232350;
  padding: 10px;
  margin: 40px;
  font-size: 1.3em;
}
/* .additionalservicestitle h3::before {
    content: "─";
    margin-right: 0.6em;
    color: #232350;
  }
.additionalservicestitle h3::after {
    content: "─";
    margin-left: 0.6em;
    color: #232350;
  } */
.page-contain1 {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin-top: -80px;
  margin-bottom: -80px;
  background-color: #ebedee;
}
.page-contain2 {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: #ebedee;
}
.data-card {
  display: flex;
  flex-direction: column;
  max-width: 22em;
  overflow: hidden;
  text-decoration: none;
  background: #232350;
  margin: 20px;
  padding: 2em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, 0.45s ease;
  border-top-left-radius: 30px;
}
.data-card h3 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 1px solid #fff;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  transition: color 0.45s ease, border 0.45s ease;
  text-align: center;
}
.data-card h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  transition: color 0.45s ease;
  padding-top: 10px;
  text-align: center;
}
.data-card p {
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 30px;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
  text-align: center;
}
.data-card:hover {
  background: #ffbd59;
}
.data-card:hover h3 {
  color: #232350;
  border-bottom-color: #232350;
}
.data-card:hover h4 {
  color: #232350;
}
.data-card:hover p {
  color: #232350;
}
@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}
/* <!-- end of additional services --> */
/* ========================================== */
/* <!-- start of main services --> */
#sec {
  padding: 50px 0;
  background: -webkit-linear-gradient(
    to right,
    #0f0c29,
    #302b63,
    #24243e
  ); 
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background-size: cover;
  text-align: center;
  word-wrap: break-word;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px
}
#sec h2 {
  font-weight: 600;
  font-size: 26px;
  color: #ffd87c;
  margin-top: -30px;
  padding: 20px;
  text-transform: capitalize;
}
#sec ul {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}
#sec ul li {
  padding: 40px;
  width: 280px;
  margin: 10px;
  transition: box-shadow 0.3s;
  border-top-right-radius: 50px;
  border-top-left-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 10px 10px 10px 10px #ffbd59;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #sec ul li {
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 10px 0 0 #ffbd59;
  }
}
#sec ul li:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#sec ul li:hover span {
  color: #07507e;
}
#sec ul li:hover p {
  color: #232350;
}
#sec ul li:hover h3 {
  color: #07507e;
  letter-spacing: 1px;
}
#sec ul li:hover h3:after {
  width: 25px;
}
#sec ul li span {
  font-size: 2em;
  display: block;
  transition: color 0.3s;
  color: #232350;
  margin-bottom: 20px;
}
#sec ul li span:before,
#sec ul li span:after {
  position: static;
}
#sec ul li h3 {
  color: #232350;
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  transition: color 0.3s;
}
#sec ul li h3:after {
  content: 39;
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  display: block;
  width: 40px;
  height: 1px;
  background: #6f6f6f;
  transition: width 0.3s;
}
#sec ul li p {
  color: #232350;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  transition: color 0.3s;
  font-weight: 500;
}
/* <!-- end of main services --> */
/* ========================================== */
/* <!-- Start of previous projects --> */
.previousprojectstitle {
  display: flex;
  justify-content: center;
  color: #232350;
  font-size: 1.5em;
  margin-top: 20px;
}
/* .previousprojectstitle h3::before {
  content: "─";
  margin-right: 0.6em;
  color: #232350;
}
.previousprojectstitle h3::after {
  content: "─";
  margin-left: 0.6em;
  color: #232350;
} */
.servicescarousel {
  width: 60%;
  margin-left: 20%;
}
.graphicdots img{
  width:15%;
  position: absolute;
  top: -55px;
  left: -55px;
  z-index: 3;
}
.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.carousel-item h2 {
  display: flex;
  justify-content: center;
  color: #232350;
  padding-top:10px;
}

.carousel-item p {
  padding: 20px 50px;
  color: #232350;
}
.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 2;
}
.carousel-control.prev {
  left: 2%;
}
.carousel-control.next {
  right: 2%;
}
.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6,
#carousel-7:checked ~ .control-7 {
  display: block;
}

/* <!-- end of previous projects --> */
/* ========================================== */
/* mobile */

@media (max-width: 600px) {
  .servicescarousel{
    width: 90%;
    margin:6%;
  }
  .page-contain1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -80px;
    padding-top: -100px;
  }
  .page-contain2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .graphicdots img{
    display: none;
  }
}
/* mobile */
/* ========================================== */